{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load crispy_forms_tags %}



<style>
  .pagination_div{
    margin: 0 auto; /* Center the div horizontally */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  .body_div{
    max-width:1400px;
    margin: 0 auto; /* Center the div horizontally */
    justify-content: center; /* Center content horizontally */
  }
  .container {

    height: 700px;
    overflow: auto; /* or scroll, hidden, visible */
    border: 1px solid #000;
}

thead {
  position:sticky;
  top:0;
 
}

.header-container {
  display: flex; 
  justify-content: space-between; /* Places elements on opposite ends of the row */
  align-items: center;           /* Vertically center them */
  margin-bottom: 1rem;          /* Add spacing below if desired */
}

</style>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> Register </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">
          {{ form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


     
<div class="body_div">
          
<div class="header-container">            
    <h2 class="mb-4">Resident List</h2>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Register Resident
                </button>
    </div>
                
              <div class="container">
              <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th>Resident ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Birth Date</th>
                          <th>Address</th>
                          <th>Contact Number</th>
                          <th>House ID</th>
                          <th>Gender</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for item in resident_list %}
                      <tr>
                          <td>{{ item.resident_id }}</td>
                          <td>{{ item.first_name }}</td>
                          <td>{{ item.last_name }}</td>
                          <td>{{ item.birth_date }}</td>
                          <td>{{ item.address }}</td>
                          <td>{{ item.contact_number }}</td>
                          <td>{{ item.house_id }}</td>
                          <td>{{ item.gender }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
            
        <div class="pagination_div">
          
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if resident_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" tabindex="-1">&laquo;first</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ resident_list.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
              {% endif %}
          
              <li class="page-item disabled">
                <a class="page-link" href="#">
                  Page {{ resident_list.number }} of {{ resident_list.paginator.num_pages }}.
                </a>
              </li>
          
              {% if resident_list.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ resident_list.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ resident_list.paginator.num_pages }}">&laquo;last</a>
                </li>
              {% endif %}
            </ul>
          </nav>
          


          </div>

    </div>

</div>



    
{% endblock %}